<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title"  >
      <h2>Contact</h2>
      
      
    </div><!-- End Section Title -->
    
    <div class="container"   data-aos-delay="100">
      
      <div class="row gy-4">

        <div class="col-lg-6">
          
          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="150">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>North West Delhi, New Delhi</p>
                <p>110086, India</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="200">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>+91 9625466224</p>
              </div>
            </div><!-- End Info Item -->


            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="250">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>info&#64;pdawnt.com</p>
                <p>employees&#64;pdawnt.com</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="300">
                <i class="bi bi-clock"></i>
                <h3>Open Hours</h3>
                <p>Monday - Friday</p>
                <p>9:00AM - 06:00PM</p>
              </div>
            </div><!-- End Info Item -->


          </div>
          
        </div>
        
        <div class="col-lg-6">
          <p style="font-size: 24px; color: rgb(68, 0, 255);">Write Your Query?</p>
          <!-- <form action="forms/contact.php" method="post" class="php-email-form"   data-aos-delay="200"> -->
            <form  class="php-email-form" id="contactForm" action="/submit" method="post"  data-aos-delay="200">
            <div class="row gy-4">

              <div class="col-md-6">
                <input type="text" id="name" name="name" placeholder="Enter your name"
                 required [(ngModel)]="query.name">
              </div>

              <div class="col-md-6">
                <input type="number" class="form-control" id="mobile" name="mobile" placeholder="Your Mobile" required [(ngModel)]="query.mobile">
              </div>

              <div class="col-12">
                <input type="email" class="form-control" id ="email" name="email" placeholder="Your Email" required [(ngModel)]="query.email">
              </div>

              <div class="col-12">
                <input type="text" class="form-control" id ="subject" name="subject" placeholder="Subject" required [(ngModel)]="query.subject">
              </div>

              <div class="col-12">
                <textarea class="form-control" id ="message" name="message" rows="6" placeholder="Message" required [(ngModel)]="query.message"></textarea>
              </div>

              <div class="text-center form-group d-flex justify-content-center" >
                <button class="btn btn-danger" type="submit" (click)="submit()">Send Message</button>
            </div>
              <!-- <div class="col-12 text-center">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>

                <button type="submit">Send Message</button>
              </div> -->

            </div>
          </form>
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- /Contact Section -->