<section id="team" class="team section light-background">

    <!-- Section Title -->
    <div class="container section-title"  >
      <h2>Leaders</h2>
      
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-5">

        <div class="col-lg-4 col-md-6 member"   data-aos-delay="200">
          <div class="member-img">
            <!-- <img src="assets/img/team/team-1.jpg" class="img-fluid" alt=""> -->
            <div class="social">
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Ashwani Dwivedi</h4>
            <span>CEO</span>
            <p>Ability to develop and communicate a clear vision for the company’s future and navigate market trends.
            </p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member"   data-aos-delay="200">
          <div class="member-img">
            <!-- <img src="assets/img/team/team-2.jpg" class="img-fluid" alt=""> -->
            <div class="social">
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Ashish Dwivedi</h4>
            <span>Product Manager</span>
            <p>Define and communicate the product vision and strategy in alignment with the company's goals and market demands.</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member"   data-aos-delay="300">
          <div class="member-img">
            <!-- <img src="assets/img/team/team-3.jpg" class="img-fluid" alt=""> -->
            <div class="social">
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Mohit Tyagi</h4>
            <span>CTO</span>
            <p>Develop and implement the company’s technology strategy to align with business goals, ensuring scalability, security, and efficiency.
            </p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member"   data-aos-delay="400">
          <div class="member-img">
            <!-- <img src="assets/img/team/team-4.jpg" class="img-fluid" alt=""> -->
            <div class="social">
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Abhilesh</h4>
            <span>Accountant</span>
            <p>Conduct financial analyses to support business decisions, including cost analysis, profitability analysis, and financial modeling.
            </p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member"   data-aos-delay="500">
          <div class="member-img">
            <!-- <img src="assets/img/team/team-5.jpg" class="img-fluid" alt=""> -->
            <div class="social">
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Antima Dwivedi</h4>
            <span>Marketing Manager</span>
            <p>Develop and implement comprehensive marketing strategies aligned with company goals and market demands.
            </p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member"   data-aos-delay="600">
          <div class="member-img">
            <!-- <img src="assets/img/team/team-6.jpg" class="img-fluid" alt=""> -->
            <div class="social">
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Antima</h4>
              <span>Operation</span>
              <p>Oversees daily operations and ensures alignment with company goals. Coordinates between different departments.</p>
          </div>
        </div><!-- End Team Member -->

      </div>

    </div>

  </section><!-- /Team Section -->