<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <span><h3 class="sitename"><b>PDAWNT Technology & Services Private Limited</b></h3>
          <p style="color:green">Productive Development of Application With New Technologies</p></span>
      </a>
     
      
        
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a routerLink="/home">Home</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/services">Services</a></li>
          <li><a routerLink="/portfolio">Products</a></li>
          <li><a routerLink="/pricing">Pricing</a></li>
          <li><a routerLink="/team">Leaders</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a routerLink="/contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>
      
      <!-- <a class="btn-getstarted">Get Started</a> -->

    </div>
  </header>

