
<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section ">

        <img src="assets/img/hero-bg.jpeg" alt="">
  
        <div class="container">
          <div class="row">
            <div class="col-lg-10">
              <h2 data-aos="fade-up" data-aos-delay="100">Welcome to PDAWNT Technology</h2>
              <p data-aos="fade-up" data-aos-delay="200">Creating automation with trust</p>
            </div>
            <div class="col-lg-5" data-aos="fade-up" data-aos-delay="300">
              <form method="post" class="php-email-form">
                <div class="sign-up-form">
                  
                  <input type="email" [(ngModel)]="email" name="email" >
                  
                  <input type="submit" value="Subscribe" (click)="subscribeNews()">
                
                </div>
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your subscription request has been sent. Thank you!</div>
              </form>
            </div>
          </div>
        </div>
  
      </section><!-- /Hero Section -->

    <!-- Clients Section -->
    <!-- <section id="clients" class="clients section">

      <div class="container"  >

        <div class="row gy-4">

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
          </div>

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
          </div>

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
          </div>

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
          </div>

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
          </div>

          <div class="col-xl-2 col-md-3 col-6 client-logo">
            <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
          </div>

        </div>

      </div>

    </section> -->


    <!-- Stats Section -->
    <!-- <section id="stats">

      <img src="assets/img/stats-bg.jpeg" alt=""  width="100%"  />

      

    </section> -->
    
    <!-- /Stats Section -->

    <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title"  >
        <h2>Features</h2>
        <p style="color:blue">Our Company has several key features that contribute to its effectiveness and success.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 align-items-center features-item">
          <div class="col-lg-5 order-2 order-lg-1"   data-aos-delay="200">
            <h3>Culture With Tech</h3>
            <p>
              <b>Expertise in Various Technologies:</b> Proficiency in multiple programming languages, frameworks, and tools, enabling the development of diverse applications.</p>

              <p><b>Agile Development Methodology:</b> Utilization of agile practices to enhance flexibility, collaboration, and rapid iteration during the development process.</p>
              
              <p><b>Custom Software Solutions:</b> Ability to create tailor-made software applications that meet specific client requirements and business objectives.</p>
              
              <p><b>Quality Assurance and Testing:</b> Comprehensive testing processes, including automated and manual testing, to ensure high-quality deliverables.</p>
              
              <p><b>Project Management:</b> Strong project management skills, often utilizing tools and methodologies (like Scrum or Kanban) to keep projects on track.
            </p>
            <!-- <a class="btn btn-get-started">Get Started</a> -->
          </div>
          <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            <div class="image-stack">
              <img src="assets/img/features-light-1.jpg" alt="" class="stack-front">
              <img src="assets/img/features-light-2.jpg" alt="" class="stack-back">
            </div>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-stretch justify-content-between features-item ">
          <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
            <img src="assets/img/features-light-3.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-5 d-flex justify-content-center flex-column"  >
            <h3>Client Evloving Goals</h3>
            <p>Deliver high-quality solutions.</p>
            <ul>
              <li><i class="bi bi-check"></i> <span>User-Centered Design: Focus on user experience (UX) and user interface (UI) design to create intuitive and engaging applications.</span></li>
              <li><i class="bi bi-check"></i><span> Continuous Integration/Continuous Deployment (CI/CD): Implementation of CI/CD practices to streamline development and deployment processes.</span></li>
              <li><i class="bi bi-check"></i> <span>Collaboration and Communication: Effective communication channels and collaboration tools to keep clients informed and involved throughout the project lifecycle.</span>.</li>
            </ul>
            <!-- <a class="btn btn-get-started align-self-start">Get Started</a> -->
          </div>
        </div><!-- Features Item -->

      </div>

    </section><!-- /Features Section -->

    <!-- Faq Section -->
    <section id="faq" class="faq section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4"   data-aos-delay="400">
            <div class="content px-xl-5">
              <h3><span>Frequently Asked </span><strong>Questions</strong></h3>
              <p style="color:blue">
                Here are some frequently asked questions (FAQs):</p>
            </div>
          </div>

          <div class="col-lg-8"   data-aos-delay="400">

            <div class="faq-container">
               <div class="faq-item faq-active">
                <div class="faq-question" onclick="toggleAnswer(this)"><h3><span class="num">1.</span> <span>What does your company do?</span></h3></div>
                <div class="faq-answer"  style="display: block;"><p>Our company specializes in providing innovative IT solutions to enhance business efficiency and drive digital transformation. We offer a range of services, including software development, cloud computing, cybersecurity, and IT consulting. Our goal is to help organizations leverage technology to improve operations, ensure data security, and deliver exceptional customer experiences. Whether it's building custom applications or managing IT infrastructure, we tailor our services to meet the unique needs of each client.</p></div>
            </div>
            
              <div class="faq-item faq-active">
               <div class="faq-question" onclick="toggleAnswer(this)"><h3><span class="num">2.</span> <span>Agile software development?</span></h3></div>
               <div class="faq-answer"><p>Agile software development is a methodology that emphasizes flexibility, collaboration, and customer feedback throughout the development process.</p></div>
           </div>

           <div class="faq-item faq-active">
            <div class="faq-question" onclick="toggleAnswer(this)"><h3><span class="num">3.</span> <span>Does your company working on both Web and app products?</span></h3></div>
            <div class="faq-answer"><p>Our organizations do work on both web and app products to provide a seamless user experience across different platforms.</p></div>
        </div>

        <div class="faq-item faq-active">
          <div class="faq-question" onclick="toggleAnswer(this)"><h3><span class="num">4.</span> <span>What are the company’s long-term goals, and how does the engineering team contribute to them?</span></h3></div>
          <div class="faq-answer"><p>Enhancing user experience and building strong customer relationships.</p></div>
      </div>

      <div class="faq-item faq-active">
        <div class="faq-question" onclick="toggleAnswer(this)"><h3><span class="num">5.</span> <span>How does the company approach innovation and adopting new technologies?</span></h3></div>
        <div class="faq-answer"><p>Encouraging a mindset where teams can experiment with new ideas and technologies without the fear of failure. This often includes hackathons or innovation days.</p></div>
    </div>

            </div>

          

          </div>
        </div>

      </div>

    </section><!-- /Faq Section -->
  

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="assets/img/cta-bg.jpg" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Call To Action</h3>
              <p>Let’s Build Something Great Together!</p>
              <a class="cta-btn" href="#">Subscribe Our newsletter</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section light-background">

      <div class="container">

        <div class="row align-items-center">

          <div class="col-lg-5 info"   data-aos-delay="100">
            <h3>User Review For Company</h3>
            <p style="color:blue">
              The software is incredibly intuitive and easy to navigate, which made onboarding a breeze for our team. We were up and running in no time!
            </p>
          </div>

          <div class="col-lg-7"   data-aos-delay="200">

            <div class="swiper init-swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Ashish Dwivedi</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Looking forward, we face exciting challenges and opportunities. As we continue to enhance our solutions and explore new markets, I encourage everyone to embrace a mindset of agility and curiosity. Each of you plays a crucial role in shaping our future, and I am confident that together we can overcome any obstacles.
                      </span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Sara Wilsson</h3>
                        <h4>Designer</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>Matt Brandon</h3>
                        <h4>Freelancer</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <div class="stars">
                          <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                        </div>
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- /Testimonials Section -->

    <!-- Recent Posts Section -->
    <section id="recent-posts" class="recent-posts section">

      <!-- Section Title -->
      <div class="container section-title"  >
        <h2>Recent Posts</h2>
        
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-4 col-md-6"   data-aos-delay="100">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Product</p>

              <h2 class="title">
                <a href="blog-details.html">Launching Of Products with New Technology Based on User Requrements</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Ashish Dwivedi</p>

                  <p class="post-date">
                    <time datetime="2022-01-01">Oct, 2024</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6"   data-aos-delay="200">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-2.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Practice Test</p>

              <h2 class="title">
                <a href="blog-details.html">Practice Test Series For Final Year Student in any Stream/Class</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-2.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Ashish Dwivedi</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 5, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          <div class="col-xl-4 col-md-6"   data-aos-delay="300">
            <article>

              <div class="post-img">
                <img src="assets/img/blog/blog-3.jpg" alt="" class="img-fluid">
              </div>

              <p class="post-category">Student Career</p>

              <h2 class="title">
                <a href="blog-details.html">Daily Events Of Student Career And Growth in Their Future For Right Direction.</a>
              </h2>

              <div class="d-flex align-items-center">
                <img src="assets/img/blog/blog-author-3.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                <div class="post-meta">
                  <p class="post-author">Ashish Dwivedi</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">Jun 22, 2022</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

        </div><!-- End recent posts list -->

      </div>

    </section><!-- /Recent Posts Section -->


  </main>
