    <!-- Pricing Section -->
    <section id="pricing" class="pricing section light-background">

      <!-- Section Title -->
      <div class="container section-title"  >
        <h2>Pricing</h2>
        <p>Our Pricing is Very Simple</p>
      </div><!-- End Section Title -->

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Basic Services</h3>
              <div class="icon">
                <i class="bi bi-send"></i>
              </div>
              <h4>Starting From <sup>$</sup>1<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Basic Plan For Career Tips</span></li>
                <li><i class="bi bi-check"></i> <span>Greet With Tree</span></li>
                <li><i class="bi bi-check"></i> <span>New Software Enquiry</span></li>
                <li><i class="bi bi-check"></i> <span>Application Development</span></li>
              </ul>
              <div class="text-center"><a class="buy-btn">Enquiry Or Buy Now</a></div>
            </div>
          </div><!-- End Pricing Item -->
    </section><!-- /Pricing Section -->
