    <!-- Pricing Section -->
    <section id="pricing" class="pricing section light-background">

      <!-- Section Title -->
      <div class="container section-title"  >
        <h2>Pricing</h2>
      </div><!-- End Section Title -->
          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Student Services</h3>
              <div class="icon">
                <i class="bi bi-send"></i>
              </div>
              <h4>Start journey<sup>₹</sup>99<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> <span>Plan For Career</span></li>
                <li><i class="bi bi-check"></i> <span>Greet With Tree</span></li>
                <li><i class="bi bi-check"></i> <span>New Software Enquiry</span></li>
                <li><i class="bi bi-check"></i> <span>Application Development</span></li>
              </ul>
              <div class="text-center"><a routerLink="/contact" class="buy-btn">Enquiry</a></div>
            </div>
          </div>     
          <!-- End Pricing Item -->
    </section><!-- /Pricing Section -->
