<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title"  >
      <h2>Services</h2>
      <p>Custom application development, web and mobile app development, software development and maintenance.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 "   data-aos-delay="100">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
            <div>
              <h4 class="title"><a href="services-details.html" class="stretched-link">Working Culture</a></h4>
              <p class="description">Software Development: Tailored software solutions based on specific client requirements.
                </p>
            </div>
          </div>
        </div>
        <!-- End Service Item -->

        <div class="col-lg-6 "   data-aos-delay="200">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
            <div>
              <h4 class="title"><a href="services-details.html" class="stretched-link">Door Services</a></h4>
              <p class="description">We are on your every place ,everytime to collect your requirements.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6 "   data-aos-delay="300">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
            <div>
              <h4 class="title"><a href="services-details.html" class="stretched-link">Data Analytics</a></h4>
              <p class="description">Data is Backbone of Every Software. We Focus on Correct Data Gathering to make Data Analytis Strong.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6 "   data-aos-delay="400">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-binoculars"></i></div>
            <div>
              <h4 class="title"><a href="services-details.html" class="stretched-link">All Time Check</a></h4>
              <p class="description">Check and Update Softwares on Every time.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6 "   data-aos-delay="500">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-brightness-high"></i></div>
            <div>
              <h4 class="title"><a href="services-details.html" class="stretched-link">Brighten Tech</a></h4>
              <p class="description">Experience Of A Smooth application always.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-6 "   data-aos-delay="600">
          <div class="service-item d-flex">
            <div class="icon flex-shrink-0"><i class="bi bi-calendar4-week"></i></div>
            <div>
              <h4 class="title"><a href="services-details.html" class="stretched-link">Recorded Analytics</a></h4>
              <p class="description">Data Recovery, Backup, Testing and Analysis of application and Data in every point.</p>
            </div>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- /Services Section -->